@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: 242424;
  text-align: center;
  line-height: 1.25;
}
p {
  line-height: 1.5;
  font-size: 16px;
}
li {
  list-style-type: none;
}

/*navigation bar*/

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link--list {
  display: flex;
}
.nav__link--anchor {
  margin: 0 12px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  cursor: progress;
}
.nav__link--anchor:hover {
  color: plum;
}

.nav__link--anchor-primary {
  background-color: plum;
  padding: 5px 16px;
  border-radius: 50%;
  border: 2px dotted black;
  transition: all 800ms ease;
}
.nav__link--anchor-primary:hover {
  background-color: black;
  color: plum;
  border: 2px dotted plum;
}
.personal__logo {
  color: rgb(255, 222, 255);
  margin: 0 12px;
  font-size: 32px;
  font-weight: bold;
}
.about-me__picture {
  width: 20%;
  transform: scale(0.5);
  padding-top: 2px;
}
.about-me__info--title {
  font-size: 32px;
}
.personal-bio {
  font-size: 25px;
}
