@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: 242424;
  text-align: center;
  line-height: 1.25;
}
p {
  line-height: 1.5;
  font-size: 16px;
}
li {
  list-style-type: none;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.container {
  padding: 50px 0;
}
.section__title {
  margin-bottom: 5%;
  transition: all 300px ease-in-out;
}
.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
section:nth-child(odd) {
  background-color: lightgray;
}
/*navigation bar*/

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 6% 3% 3% 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link--list {
  display: flex;
}
.nav__link--anchor {
  margin: 0 12px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  cursor: progress;
}
.nav__link--anchor:hover {
  color: plum;
}

.nav__link--anchor-primary {
  background-color: plum;
  padding: 5px 16px;
  border-radius: 50%;
  border: 2px dotted black;
  transition: all 800ms ease;
}
.nav__link--anchor-primary:hover {
  background-color: black;
  color: plum;
  border: 2px dotted plum;
}
.personal__logo {
  color: rgb(198, 194, 203);
  margin: 0 12px;
  font-size: 32px;
  font-weight: bold;
}

/* about me section*/
.about-me__picture {
  width: 16%;
  height: 16%;
  transform: scale(1.07);
  margin: 1% 0% 3% 1%;
  border-radius: 77%;
  border: 3px solid rgb(11, 11, 11);
  cursor: grab;
  overflow: hidden;
  box-shadow: 16px 16px 24px #00000066;
  animation: float 1000ms infinite alternate-reverse;
}
.about-me__picture:hover {
  filter: brightness(80%);
  transform: scale(0.9);
  transition: all 200ms ease;
}
@keyframes float {
  0% {
    transform: translateY(32px);
  }
  100% {
    transform: translateY(0px);
  }
}
.personal-bio {
  font-size: 24px;
  margin-bottom: 28px;
}
.text--purple {
  color: plum;
  padding-left: 2px;
}
.text--purple:hover {
  transform: scale(1.015);
  cursor: crosshair;
  overflow: hidden;
}
#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__info--title {
  font-size: 32px;
  display: flex;
  justify-content: center;
  /*flex-direction: column;*/
  /*align-items: center;*/
}
.about-me__info--container {
  text-align: center;
}
.about-me__link {
  font-size: 40px;
  color: plum;
  text-decoration: none;
  margin: 0 5%;
  cursor: grab;
  transition: all 600ms ease;
}
.about-me__link:hover {
  color: rgba(236, 67, 109, 0.838);
}

.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8% 0%;
}
.about-me__img {
  width: 100%;
}

/* TECH - STACK*/

.language__img {
  width: 100%;
  max-width: 600px;
}
.language__img--wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  animation: float 1000ms infinite alternate-reverse;
}

/* PROJECTS */
.project__list {
  text-align: center;
}
.project__wrapper {
}

.project__img {
  box-shadow: 0 16px 64px;
  width: 70%;
  margin-bottom: 10%;
  border-radius: 70px;
  overflow: hidden;
  transition: all 200ms ease;
}
.project__img:hover {
  transform: scale(1.2);
}
.footer__div {
  background-color: lightgray;
  font-size: 24px;
  color: lightslategray;
  display: flex;
  justify-content: space-between;
}
